.navbar-brand {
    color: #F4FFF8
}

.navbar {
    background-color: #070707;
    color: #F4FFF8
    
}

body {
    background-color: #5DD9C1
}

.container {
    background-color: #F4FFF8;
    padding: 10px
}

.jumbotron {
    background-color: #4C5B5C;
    color: #F4FFF8
}
ul {
    font-size: 2em;
}