<div class="container">
    <div class="jumbotron">
        <h2>My Profile</h2>
        <img ng-src="{{uc.user.data.avatar_url}}" width="150px">
        
    </div>
    <ul>
        <li>
            <strong>Name: </strong>{{uc.user.data.name}}
        </li>
        <li>
            <strong>Username: </strong>{{uc.user.data.login}}
        </li>
        <li>
           <strong>Location: </strong> {{uc.user.data.location}}
        </li>
        <li>
            <strong>Company: </strong>{{uc.user.data.company}}
        </li>
        <li>
           <strong>GitHub URL: </strong> {{uc.user.data.html_url}}
        </li>

    </ul>
    <!-- <pre>{{uc.user.data | json}}</pre> -->


</div>